@import "./fonts/eustache/style.scss";
@import "./fonts/gordita/style.scss";
@import "./fonts/noteworthy/style.scss";
@import "./fonts/recoleta/style.scss";
@import "./fonts/bootstrap-icons/font-css.scss";
@import "./fonts/font-awesome/css/all.min.scss";

// main css
@import "./scss/custom-animation";
@import "./scss/framework";
@import "./scss/navbar";
@import "./scss/style";
@import "./scss/custom-next";
@import "./scss/responsive";

.title-background {
    background-color: #1F27BF; /* Fundo branco semi-transparente */
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Gordita', sans-serif;
    font-size: 16px;
  }