.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .pagination ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .pagination li {
    margin: 0 0.25rem;
  }
  
  .pagination button {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination li.active button {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Estilo para os botões "Anterior" e "Próxima" */
  .pagination li:first-child button,
  .pagination li:last-child button {
    background-color: #007BFF;
    font-weight: bold;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .pagination button {
      padding: 0.4rem 0.8rem;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .pagination ul {
      flex-wrap: wrap;
    }
    
    .pagination li {
      margin: 0.25rem;
    }
  }